.body-style {
    background-color: #566580; 
    /* color: #ffffff; */
}

h1 {
    color: #000000;
}

.navbar{
    background-color: #17162d; 
    
}
.nav-link{
    color: white !important;
}

.new-title {
    color: #000000;
    font-weight: bold;
}

p {
    color: #000000;
}


.date {
    color: #000000;
}

.form-label{
    color: #000000;
}